<section [@fallIn]="state">
  <form fxLayout="column"
        fxLayoutAlign="center center"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)"
        fxLayoutGap="1%"
  >
    <h1>Account Settings</h1>
    <button class="edit-button" mat-raised-button color="primary" routerLink="/shop">Back to Shop</button>
    <button class="edit-button" mat-raised-button color="warn" (click)="onEdit()">{{editTextString}}</button>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
      <mat-radio-group aria-label="Your gender" ngModel name="gender" required #gender="ngModel" [disabled]="!isEdit">
        <mat-radio-button [checked]="user.gender === 'Mr.'"  value="Mr." color="primary">Male</mat-radio-button>
        <mat-radio-button [checked]="user.gender === 'Mrs.'" value="Mrs." color="warn">Female</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <label>
          <input type="text"
                 matInput
                 ngModel
                 name="firstName"
                 required
                 #firstName="ngModel"
                 [disabled]="!isEdit"
                 [value]="user.firstName"
          >
        </label>
        <mat-error *ngIf="firstName.hasError('required')">
          Field should not be empty
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <label>
          <input type="text"
                 matInput
                 ngModel
                 name="lastName"
                 required
                 #lastName="ngModel"
                 [disabled]="!isEdit"
                 [value]="user.lastName"
          >
        </label>
        <mat-error *ngIf="lastName.hasError('required')">
          Field should not be empty
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-hint>
          You must be at least 16 Years old
        </mat-hint>
        <mat-label>Your Birthdate</mat-label>
        <label>
          <input matInput
                 [matDatepicker]="picker"
                 [max]="max"
                 [min]="min"
                 [(ngModel)]="birthday"
                 name="birthdateValue"
                 required
                 [disabled]="!isEdit"
                 #picker
          >
        </label>
        <mat-error>Field should not be empty</mat-error>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <p>
        Number of Orders: {{counter}}
      </p>
      <button mat-raised-button color="accent" type="submit" [disabled]="isLoading">Save Changes</button>
    </mat-card>
  </form>
</section>
