<section [@fallIn]="state">
  <form fxLayout="column"
        fxLayoutAlign="center center"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)"
        fxLayoutGap="1%"
  >
    <h1>Account Settings</h1>
    <button class="edit-button" mat-raised-button color="warn" (click)="onEdit()">{{editTextString}}</button>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <label>
          <input type="text"
                 matInput
                 ngModel
                 name="firstName"
                 required
                 #firstName="ngModel"
                 [disabled]="!isEdit"
          >
        </label>
        <mat-error *ngIf="firstName.hasError('required')">
          Field should not be empty
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <label>
          <input type="text"
                 matInput
                 ngModel
                 name="lastName"
                 required
                 #lastName="ngModel"
                 [disabled]="!isEdit"
          >
        </label>
        <mat-error *ngIf="lastName.hasError('required')">
          Field should not be empty
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Your E-Mail</mat-label>
        <label>
          <input type="email"
                 matInput
                 ngModel
                 name="email"
                 email
                 required
                 #email="ngModel"
                 [disabled]="!isEdit"
          >
        </label>
        <mat-error *ngIf="!email.hasError('required')">
          Email is Invalid
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Field should not be empty
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-hint align="start" *ngIf="pw.value?.length < 8">
          Please Enter a minimum of 8 characters
        </mat-hint>
        <mat-label>Please enter your Password </mat-label>
        <label>
          <input type="password"
                 matInput
                 ngModel
                 name="password"
                 required
                 minlength="8"
                 #pw="ngModel"
                 [disabled]="!isEdit"
          >
        </label>
        <mat-hint align="end" *ngIf="pw.value?.length < 8">
          {{ pw.value?.length }} /8
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-hint>
          You must be at least 16 Years old
        </mat-hint>
        <mat-label>Your Birthdate</mat-label>
        <label>
          <input matInput
                 [matDatepicker]="picker"
                 [max]="max"
                 [min]="min"
                 ngModel
                 name="birthdateValue"
                 required
                 [disabled]="!isEdit"
          >
        </label>
        <mat-error>Field should not be empty</mat-error>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Save Changes</button>
    </mat-card>
  </form>
</section>
