<section [@fallIn]="state">
  <form fxLayout="column"
        fxLayoutAlign="center center"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)"
        fxLayoutGap="1%"
  >
    <h1>Login to Flower Shop</h1>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
      <mat-form-field>
        <mat-label>Please enter your E-Mail</mat-label>
        <label>
          <input type="email"
                 matInput
                 ngModel
                 name="email"
                 email
                 required
                 #email="ngModel"
          >
        </label>
        <mat-error *ngIf="!email.hasError('required')">
          E-Mail is Invalid
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Field should not be empty
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Please enter your Password</mat-label>
        <label>
          <input type="password"
                 matInput
                 ngModel
                 name="password"
                 required
                 #pw="ngModel"
          >
        </label>
        <mat-error>
          Field should not be empty
        </mat-error>
      </mat-form-field>
      <button mat-raised-button
              type="submit"
              color="accent"
              [disabled]="f.invalid"
              [disabled]="isLoading"
              >
        Submit
      </button>
      </mat-card>
  </form>
  <div  fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
      <h1>Social Media</h1>
      <mat-card fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center center">
        <button mat-raised-button color="warn" (click)="onLogin('Google')" [disabled]="isLoading"> Login with Google</button>
        <button mat-raised-button color="primary" (click)="onLogin('Facebook')" [disabled]="isLoading"> Login with Facebook</button>
      </mat-card>
    <p> No Account? You can create one <a routerLink="/register">here</a></p>
    <p> Forgot you E-Mail? You can reset <a routerLink="/reset">here</a></p>
  </div>
</section>
