<section>
  <form fxLayout="column"
        fxLayoutAlign="center center"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)"
        fxLayoutGap="10px"
  >
    <h1>Register to Flower Shop</h1>
    <mat-form-field>
      <input type="email"
             matInput
             ngModel
             name="email"
             placeholder="Please enter your Email"
             email
             required
             #email="ngModel"
      >
      <mat-error *ngIf="!email.hasError('required')">
        Email is Invalid
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Field should not be empty
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-hint align="start" *ngIf="pw.value?.length < 8">
          Please Enter a minimum of 8 characters
      </mat-hint>
      <input type="password"
             matInput
             ngModel
             name="password"
             placeholder="Please enter your Password "
             required
             minlength="8"
             #pw="ngModel"
      >
      <mat-hint align="end" *ngIf="pw.value?.length < 8">
           {{ pw.value?.length }} /8
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-hint>
        You must be at least 16 Years old
      </mat-hint>
      <input matInput
             placeholder="Please enter your Birthdate"
             [matDatepicker]="birthdate"
             [max]="max"
             [min]="min"
             ngModel
             name="birthdateValue"
             required
      >
      <mat-error>Field should not be empty</mat-error>
      <mat-datepicker-toggle [for]="birthdate" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #birthdate></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel
                  name="conditions"
                  color="primary"
                  required
    >
      Agree to Terms and Conditions.
    </mat-checkbox>
    <button mat-raised-button
            type="submit"
            color="primary"
            [disabled]="f.invalid"
    >Submit</button>
  </form>
</section>
