mat-progress-bar{
  width: 75%;
}
mat-card{
  width: 90%;
  margin-bottom: 10px;
  max-width: 500px;
}
mat-form-field{
  width: 90%;
}
button{
  width: 75%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
