mat-progress-bar{
  width: 100%;
}
.search-button{
  width: 250px
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
mat-card{
  width: 90%;
  margin-bottom: 10px;
  max-width: 500px;
}
h1{
  overflow-y: hidden;
}
