<section [@fallIn]="state" >
  <h1 fxLayout fxLayoutAlign="center center" >Bouquets</h1>
  <input autofocus [hidden]="true" appAutofocus>
  <div fxLayoutAlign="column center" fxLayoutGap="15px" fxLayout="column">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div *ngIf="(toggleMode=='searchMode')
         else (toggleMode == 'addMode')?
          showAddMode : ((toggleMode == 'editMode')?
          showEditMode : showResMode)">
          <form #searchFormData="ngForm">
            <mat-card-actions>
              <button type="button" mat-raised-button color="accent" (click)="toggle('resMode');getFilterData(searchFormData.value);" [disabled]="!searchFormData.valid" class="search-button">Search</button>
              <div fxFlex="row" fxLayoutAlign="flex-end" fxLayoutGap="1%">
                <mat-icon (click)="toggle('addMode')" color="primary">add</mat-icon>
                <mat-icon (click)="toggle('resMode');getData();" color="primary">cached</mat-icon>
              </div>
            </mat-card-actions>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
            <mat-form-field class="example-form">
              <input matInput [disabled]="name.value > ''" type="text" placeholder="Category" name="category" #category="ngModel" ngModel
                     minlength="3" maxlength="50">
            </mat-form-field>
            <mat-form-field class="example-form">
              <input matInput [disabled]="category.value > ''" type="text" placeholder="Product Name" name="name" #name="ngModel" ngModel
                     minlength="3" maxlength="50">
            </mat-form-field>
            </div>
        </form>
        </div>
      </mat-card-content>
    </mat-card>
    <!--
    <mat-card *ngFor="let bouquet of bouquets | async" fxLayout>
      <mat-card-header>
        <mat-card-title>{{bouquet.name}}</mat-card-title>
        <mat-card-subtitle>{{bouquet.flower}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Price: {{ bouquet.price }}
        </p>
        <p>
          Season Start: {{ bouquet.seasonStart}}
        </p>
        <p>
          Season End: {{ bouquet.seasonEnd}}
        </p>
      </mat-card-content>
    </mat-card>
    -->
  </div>
</section>

<ng-template #showAddMode >
  <form #addDataForm="ngForm" (ngSubmit)="setData(addDataForm.value);" novalidate>
    <mat-error *ngIf="savedChanges">
      Data is saved.
      <mat-icon (click)="this.addDataForm.reset();savedChanges=false;toggle('searchMode');">clear</mat-icon>
    </mat-error>
    <div *ngIf="!savedChanges">
      <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button [disabled]="!addDataForm.valid" color="accent">Add</button>
        <button type="reset" (click)="this.addDataForm.reset();" mat-raised-button [disabled]="!addDataForm.valid" color="warn">Clear</button>
        <div fxFlex="row" fxLayoutAlign="flex-end" fxLayoutGap="1%">
          <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
          <mat-icon color="primary" (click)="toggle('resMode');getData();">cached</mat-icon>
        </div>
      </mat-card-actions>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
        <mat-form-field>
          <input matInput placeholder="Category" name="category" ngModel required minlength="1">
          <mat-hint align="end">eg. Men Garments</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Sub Category" name="scategory" ngModel required minlength="1">
          <mat-hint align="end">eg. Shirt</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Product Name" name="name"  ngModel required minlength="1">
          <mat-hint align="end">eg. Shirt</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Description" name="descr"  ngModel></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Color" name="color"  ngModel>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Price" name="price"  ngModel required pattern="[0-9]+">
        </mat-form-field>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #showEditMode>
  <form #editDataForm="ngForm" (ngSubmit)="updateData(editDataForm.value);" novalidate>
    <input type="hidden" name="_id" id="_id" [ngModel]="myDocData._id" required>
    <mat-error *ngIf="savedChanges">
      Data is saved.
      <mat-icon (click)="this.editDataForm.reset();savedChanges=false;toggle('searchMode');">clear</mat-icon>
    </mat-error>
    <div *ngIf="!savedChanges">
      <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button [disabled]="!this.editDataForm.valid || this.editDataForm.pristine" color="accent">Update</button>
        <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
        <mat-icon color="primary" (click)="toggle('resMode');getData();">cached</mat-icon>
      </mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%">
        <mat-form-field>
          <input matInput placeholder="Category" name="category" [ngModel]="myDocData.category" required minlength="1">
          <mat-hint align="end">eg. Men Garments</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Sub Category" name="scategory" [ngModel]="myDocData.scategory" required minlength="1">
          <mat-hint align="end">eg. Shirt</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="*IMP*: Search use Tags Text" name="tags" [ngModel]="myDocData.tags" required minlength="1"></textarea>
          <mat-hint align="end">eg. Men,Reading,Glasses</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Product Name" name="name" [ngModel]="myDocData.name" required minlength="1">
          <mat-hint align="end">eg. Shirt</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Description" name="descr" id="descr" [ngModel]="myDocData.descr"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Color" name="color" id="color" [ngModel]="myDocData.color">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Price" name="price" id="price" [ngModel]="myDocData.price" required pattern="[0-9]+">
        </mat-form-field>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #showResMode>
  <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="1%">
    <mat-icon color="primary" (click)="toggle('addMode')">add</mat-icon>
    <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
  </mat-card-actions>
  <div *ngIf="takeHostSelfie">
    <button type="reset" (click)="takeHostSelfie=false;" mat-icon-button color="primary"><mat-icon>clear</mat-icon></button>
    <br>
    <input type="file" fileUrl="bouquet">
  </div>
  <div *ngIf="showHostSelfie">
    <button type="reset" (click)="showHostSelfie=false;" mat-icon-button color="primary"><mat-icon>clear</mat-icon></button>
    <br>
    <img [src]="profileUrl | async" width="300" height="300" alt="dummy"/>
    <br>
  </div>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter Results">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.category}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="seasonStart">
        <mat-header-cell *matHeaderCellDef mat-sort-header>SeasonStart</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.seasonStart}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> action </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Show Picture" *ngIf="row.path" (click)="getPic(row.path);this.showHostSelfie=true;">
            <mat-icon color="primary">photo_camera</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Remove Picture" *ngIf="row.path" (click)="deleteProductPic(row._id);this.showHostSelfie=false;">
            <mat-icon color="primary">camera_roll</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Take Picture" (click)="this.myDocId=row._id;this.takeHostSelfie=true;" color="primary"
                  *ngIf="!row.path" class="label-error"><mat-icon>camera_roll</mat-icon></button>
          <button mat-icon-button (click)="getDoc(row._id)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteDoc(row._id)">
            <mat-icon color="primary">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
  </div>
</ng-template>
