mat-card{
  width: 90%;
  margin-bottom: 10px;
  max-width: 500px;
}
mat-progress-bar{
  width: 75%;
}
.search-button{
  width: 250px
}
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.category-class{
  color: crimson;
}
td, th {
  width: 25%;
}
span{
  color: forestgreen;
  display: inline-block;
  width: 75px;
}
