<section [@fallIn]="state">
  <label>
    <input autofocus [hidden]="true" appAutofocus>
  </label>
  <div fxLayout="column" fxLayoutAlign="center center">
    <h3>{{user.firstName}} {{user.lastName}} Orders</h3>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%"
         *ngIf="(toggleMode == 'listMode')
         else showDetailMode">
      <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5%">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Flower">
            </label>
          </mat-form-field>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="bouquetName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Bouquet </th>
                <td mat-cell *matCellDef="let row"> {{row.bouquetName}} </td>
              </ng-container>
              <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> OrderDate </th>
                <td mat-cell *matCellDef="let row"> {{row.orderDate | date }} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="action-col"> Details </th>
                <td mat-cell *matCellDef="let row" class="action-col">
                    <mat-icon color="primary" (click)="onDetails(row._id);toggle('detailMode')">info</mat-icon>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
      <button mat-raised-button color="warn" routerLink="/shop" *ngIf="toggleMode == 'listMode'">back</button>
    </div>
  </div>
</section>
<ng-template #showDetailMode>
  <label>
    <input autofocus [hidden]="true" appAutofocus>
  </label>
 <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5%">
   <mat-card-content fxLayout="column">
     <p>Order from <b class="span-green">{{order.orderDate}}</b></p><br>
     <p>Hello <b>{{order.userName}}</b>,<br>
       Thank you for buying our beautiful <b class="span-green">Flower Bouquet</b>.
     </p>
     <p>
       The <b class="span-green">{{order.bouquetName}}</b> costs only <b class="span-green">{{order.price | currency:'EUR'}}</b> and is waiting for you
       in our Shop on <b class="span-red">{{order.pickUpDate}}</b> at <b style="color: crimson">10am</b>.
     </p>
     <p *ngIf="order.event">
       You included <b class="span-green">{{order.event}}</b> Event
     </p>
     <p *ngIf="order.message">
       Your Card Text:
       <br>
       <b>{{order.message}}</b>
     </p>
     <br>
     <p>
       Kind regards,
       <br>
      <b class="span-green">
       Your Flowershop-Team
     </b>
     </p>
   </mat-card-content>
 </mat-card>
  <button mat-raised-button color="warn" (click)="toggle('listMode');ngOnInit()">back</button>
</ng-template>
