mat-progress-bar{
  width: 95%;
  margin-bottom: 10px;
}
mat-card{
  width: 95%;
  margin-bottom: 10px;
  max-width: 500px;
}
table {
  width: 100%;
}
p{
  margin: 0.5rem;
  font-size: 1.2rem;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
button{
  margin-top: 15px;
  width: 250px;
}
.span-green{
  color: forestgreen;
}
.span-red{
  color: crimson;
}
