<section>
  <h1 fxLayout fxLayoutAlign="center center" >Order History</h1>
  <mat-label [hidden]="true">hidden</mat-label>
  <label>
    <input matInput autofocus [hidden]="true" appAutofocus>
  </label>
  <div fxLayoutAlign="column center" fxLayoutGap="2%" fxLayout="column">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <form #searchFormData="ngForm"
              *ngIf="(toggleMode == 'searchMode')
              else (toggleMode == 'detailMode')?
              showDetailedMode : ((toggleMode == 'graphMode')?
              showGraphMode : showResMode)">
          <mat-card-actions>
            <button type="button" mat-raised-button color="accent" [disabled]="searchFormData.invalid" class="search-button" (click)="toggle('resMode');getSearchOrders(searchFormData.value);">Search</button>
            <button type="button" mat-raised-button color="warn" (click)="toggle('resMode');onNextDayOrders();" class="search-button">Soon</button>
            <div fxFlex="row" fxLayoutAlign="flex-end" fxLayoutGap="5%">
              <mat-icon  color="primary" (click)="toggle('resMode');getAllOrders()">cached</mat-icon>
            </div>
          </mat-card-actions>
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%">
            <mat-form-field style="width: 250px">
              <mat-label>Select Date</mat-label>
              <mat-select [(ngModel)]="dateType" name="dateType" required>
                <mat-option *ngFor="let dateType of dateTypes" [value]="dateType">{{dateType}}</mat-option>
              </mat-select>
              <mat-hint align="end">eg. Pickup</mat-hint>
              <mat-error>Please select role</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 250px">
              <mat-hint>
                Your start date
              </mat-hint>
              <mat-label>Select start Date</mat-label>
              <label>
                <input matInput
                       required
                       [matDatepicker]="picker"
                       name="picker"
                       id="picker"
                       ngModel
                       #picker
                >
              </label>
              <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<ng-template #showDetailedMode>
  <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="5%">
    <mat-icon  color="primary" (click)="toggle('resMode');ngOnInit()">cached</mat-icon>
  </mat-card-actions>
  <h1 style="color: forestgreen">Order Info</h1>
  <mat-card-content>
    <p>
      <span>Bouquet: </span> {{order.bouquetName}}
    </p>
    <p style="color: crimson">
      <span>Price: </span> {{order.price| currency:'EUR'}}
    </p>
    <p>
      <span>Customer: </span> {{order.userName}}
    </p>
    <p>
      <span>OrderDate: </span> {{order.orderDate}}
    </p>
    <p style="color: crimson">
      <span>PickupDate: </span> {{order.pickUpDate}}
    </p>
    <p *ngIf="order.event">
      <span>Event: </span> {{order.event}}
    </p>
    <p *ngIf="order.message">
      <span>Bouquet: </span> {{order.message}}
    </p>
  </mat-card-content>
  <h1 style="color: forestgreen">Flower Info</h1>
  <mat-card-content>
    <p>
      <span>Category: </span> {{bouquet.category}}
    </p>
    <p>
      <span>Flower: </span> {{bouquet.flower}}
    </p>
    <p>
      <span>SeasonStart: </span> {{bouquet.seasonStart}}
    </p>
    <p>
      <span>SeasonEnd: </span> {{bouquet.seasonEnd}}
    </p>
  </mat-card-content>
</ng-template>

<ng-template #showResMode>
  <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="5%">
    <mat-icon color="primary" (click)="toggle('graphMode')">timeline</mat-icon>
    <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
  </mat-card-actions>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Flower">
      </label>
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="bouquetName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Bouquet </th>
          <td mat-cell *matCellDef="let row"> {{row.bouquetName}} </td>
        </ng-container>
        <ng-container matColumnDef="orderDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> OrderDate </th>
          <td mat-cell *matCellDef="let row"> {{row.orderDate | date }} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="action-col"> Details </th>
          <td mat-cell *matCellDef="let row" class="action-col">
            <mat-icon color="primary" (click)="onDetails(row._id);toggle('detailMode')">info</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <button mat-raised-button color="warn" style="margin-top: 20px; width: 250px" (click)="onCsv()">Create Csv</button>
  </mat-card-content>
</ng-template>

<ng-template #showGraphMode>
  <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="2%">
    <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
  </mat-card-actions>
  <mat-card-content>

  </mat-card-content>
</ng-template>
