<section>
  <h1 fxLayout fxLayoutAlign="center center" >Order History</h1>
  <mat-label [hidden]="true">hidden</mat-label>
  <label>
    <input matInput autofocus [hidden]="true" appAutofocus>
  </label>
  <div fxLayoutAlign="column center" fxLayoutGap="2%" fxLayout="column">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <form #searchFormData="ngForm"
              *ngIf="(toggleMode == 'searchMode')
              else (toggleMode == 'detailedMode')?
              showDetailedMode : ((toggleMode == 'editMode')?
              showEditMode : showResMode)">
          <mat-card-actions>
            <button type="button" mat-raised-button color="accent" [disabled]="searchFormData.invalid" class="search-button" (click)="toggle('resMode');getSearchOrders(searchFormData.value);">Search</button>
            <button type="button" mat-raised-button color="warn" (click)="toggle('resMode')" class="search-button">Soon</button>
            <div fxFlex="row" fxLayoutAlign="flex-end" fxLayoutGap="2%">
              <mat-icon  color="primary" (click)="toggle('resMode');getAllOrders()">cached</mat-icon>
            </div>
          </mat-card-actions>
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%">
            <mat-form-field style="width: 250px">
              <mat-label>Select Date</mat-label>
              <mat-select [(ngModel)]="dateType" name="dateType" required>
                <mat-option *ngFor="let dateType of dateTypes" [value]="dateType">{{dateType}}</mat-option>
              </mat-select>
              <mat-hint align="end">eg. Pickup</mat-hint>
              <mat-error>Please select role</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 250px">
              <mat-hint>
                Your start date
              </mat-hint>
              <mat-label>Select start Date</mat-label>
              <label>
                <input matInput
                       required
                       [matDatepicker]="picker"
                       name="picker"
                       id="picker"
                       ngModel
                       #picker
                >
              </label>
              <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<ng-template #showDetailedMode>
  <mat-card-actions>
    action
  </mat-card-actions>
  <mat-card-content>
    details
  </mat-card-content>
</ng-template>
<ng-template #showResMode>
  <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="2%">
    <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
  </mat-card-actions>
  <mat-card-content>
    content
  </mat-card-content>
</ng-template>
<ng-template #showEditMode>
  <mat-card-actions>
    action
  </mat-card-actions>
  <mat-card-content>
    edit
  </mat-card-content>
</ng-template>
