mat-progress-bar{
  width: 100%;
}
.search-button{
  width: 250px
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
mat-card{
  width: calc(100% - 40px);
  max-width: 500px;
  margin-bottom: 10px;
}
td, th {
  width: 25%;
}
.action-col{
  width: 5%;
}
span{
  font-weight: bold;
  display: inline-block;
  width: 35%;
}
p{
  margin: 0.5rem;
  font-size: 1.1rem;
}
