<mat-toolbar color="warn">
  <div fxLayout fxFlex fxLayoutAlign="flex-start" fxLayoutGap="10px">
    <a routerLink="/">
      <div class="brand"></div>
    </a>
    <div fxHide.gt-xs  fxLayout fxLayoutAlign="center center" >
      <button (click)="onToggle()" mat-icon-button fxLayoutGap="10px">
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </div>
    <div fxLayout fxLayoutAlign="center center">
      {{title}}
    </div>
  </div>
  <div class="logo">
  </div>
  <div fxLayout fxFlex fxLayoutAlign="flex-end" fxHide.xs>
    <ul class="navigationBar" fxLayout fxLayoutGap="10px">
      <li><a routerLink="/menu">Shop</a></li>
      <li><a routerLink="/flowers">Custom</a></li>
      <li><a routerLink="/bouquets">Bouquets</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a>Logout</a></li>
    </ul>
  </div>
</mat-toolbar>

