<section [@fallIn]="state">
  <input autofocus [hidden]="true" appAutofocus>
  <h1 fxLayoutAlign="center center">Welcome Menu</h1>
  <div fxLayoutAlign="center center">
    <mat-card>
      <div fxLayoutGap="15px" fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button color="warn" routerLink="/bouquets">All Bouquets</button>
        <button mat-raised-button color="warn" routerLink="/flowers">Create custom Bouquet</button>
        <button mat-raised-button color="accent" routerLink="/orders">Last Orders</button>
      </div>
    </mat-card>
  </div>
</section>
