
mat-sidenav-container, mat-sidenav, mat-sidenav-content{
  height: 100%;
}
mat-sidenav{
  width: 200px;
}
app-footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  text-align: center;
  background-color: aqua;
}
