html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.snackbar {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #f7f0cf;
}
