<section [@fallIn]="state">
  <label>
    <input autofocus [hidden]="true" appAutofocus>
  </label>
  <div fxLayout
       fxLayoutAlign="center center">
    <div class="logo-big"
         fxShow.gt-xs
         fxHide.lt-sm >
    </div>
    <div class="logo-medium"
         fxShow.lt-sm
         fxHide.gt-xs>
    </div>
  </div>
  <div>
    <div fxLayout="column"
         fxLayoutAlign="center center"
         fxLayout.gt-md="row"
         fxLayoutGap.gt-md="50px"
         fxLayoutGap.lt-lg="0px"
         class="home-text-layout">
      <section fxLayout="column" fxLayoutGap="15px" class="section-margin" fxShow.gt-md fxHide.lt-md>
        <mat-card>
          <mat-card-header>
            <mat-card-title>The <span class="span-green">smile</span> of the earth</mat-card-title>
          </mat-card-header>
          <div class="home-pic-2-big"></div>
          <mat-card-footer>
            <mat-card-content><h3>Flowers are great gift for everybody.</h3><h3 *ngIf="!isAuth"><a routerLink="/register">Register</a> and present a bouquet to a friend.</h3></mat-card-content>
          </mat-card-footer>
        </mat-card>
        <mat-card >
          <mat-card-header>
            <mat-card-title>
              A <span class="span-green">splash of colors</span> for the soul
            </mat-card-title>
          </mat-card-header>
          <div class="home-pic-1-big"></div>
          <mat-card-footer>
            <mat-card-content><h3>Look through all of our Bouquets.</h3><h3 *ngIf="!isAuth"> You only need to <a routerLink="/login">login</a>.</h3></mat-card-content>
          </mat-card-footer>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              The overwhelming <span class="span-green">magic</span> of flowers
            </mat-card-title>
          </mat-card-header>
          <div class="home-pic-3-big"></div>
          <mat-card-footer>
            <mat-card-content><h3>You want a special customised bouquet?</h3><h3 *ngIf="isAuth"><a routerLink="/bouquets">Customize</a> you own bouquet!</h3></mat-card-content>
          </mat-card-footer>
        </mat-card>
      </section>
      <section fxLayout="column" fxLayoutGap="15px" class="section-margin" fxHide.gt-md fxShow.lt-md>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              The <span class="span-green">smile</span> of the earth
            </mat-card-title>
          </mat-card-header>
          <div class="home-pic-2-small"></div>
          <mat-card-footer>
            <mat-card-content><h3>Flowers are great gift for everybody.</h3><h3 *ngIf="!isAuth"><a routerLink="/register">Register</a> and present a bouquet to a friend.</h3></mat-card-content>
          </mat-card-footer>
        </mat-card>
        <mat-card >
          <mat-card-header>
            <mat-card-title>
              A <span class="span-green">splash of colors</span> for the soul
            </mat-card-title>
          </mat-card-header>
          <div class="home-pic-1-small"></div>
          <mat-card-footer>
            <mat-card-content><h3>Look through all of our Bouquets.</h3><h3 *ngIf="!isAuth">You only need to <a routerLink="/login">login</a>.</h3></mat-card-content>
          </mat-card-footer>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              The <span class="span-green">magic</span> of flowers
            </mat-card-title>
          </mat-card-header>
          <div class="home-pic-3-small"></div>
          <mat-card-footer>
            <mat-card-content><h3>You want a special customized bouquet?</h3><h3 *ngIf="isAuth"><a routerLink="/bouquets">Customize</a> your own bouquet!</h3></mat-card-content>
          </mat-card-footer>
        </mat-card>
      </section>
    </div>
  </div>
</section>
