<section [@fallIn]="state">
  <input autofocus [hidden]="true" appAutofocus>
  <div fxLayout
       fxLayoutAlign="center center">
    <div class="logo-big"
         fxShow.gt-xs
         fxHide.lt-sm >
    </div>
    <div class="logo-medium"
         fxShow.lt-sm
         fxHide.gt-xs>
    </div>
  </div>
  <div>
    <div fxLayout="column"
         fxLayoutAlign="center center"
         fxLayout.gt-md="row"
         fxLayoutGap.gt-md="50px"
         fxLayoutGap.lt-lg="0px"
         class="home-text-layout">
      <section autofocus>
        <h1>Header 1</h1>
          <p>Text1</p>
        </section>
    </div>
  </div>
</section>
