.home-text-layout{
  text-align: center;
}
.logo-big{
  background-image: url("../../assets/logos/logo_big.png");
  background-repeat: no-repeat;
  width: 523px;
  height: 200px;
}
.logo-medium{
  background-image: url("../../assets/logos/logo_medium.png");
  background-repeat: no-repeat;
  width: 366px;
  height: 140px;
}
